ansiwrap
attrs
colorama
crunch64==0.2.0
cxxfilt
intervaltree
n64img
pycparser
pygfxd==1.0.2
pylibyaml
pynacl
pypng
python-Levenshtein
python-ranges
pyyaml
rabbitizer==1.8.3
spimdisasm==1.20.1
toml
tqdm
watchdog
